[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=46.4.0",
  "wheel",
  "setuptools_scm[toml]>=6.2",
]

[tool.setuptools_scm]
write_to = "src/disco_snake/_version.py"

# see https://github.com/psf/black/issues/683 for why this can't be in setup.cfg
[tool.black]
line-length = 110
target-version = ['py38', 'py39', 'py310']
