div.generating {
    border-width: 0 !important;
    border-style: solid !important;
}

div.tab_nav {
    border-width: 0 !important;
    border-style: solid !important;
}

div.tab_nav > button {
    border-bottom-color: transparent !important;
}

#header_title {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#button_col {
    align-items: flex-end;
}
#button_row {
    justify-content: flex-end;
}

#refresh_btn {
    max-width: 40px;
    min-width: 40px !important;
    min-height: 40px !important;
    max-height: 40px;
}
#spinner_btn {
    max-width: 40px;
    min-width: 40px !important;
    min-height: 40px !important;
    max-height: 40px;
}

#lm_last_message > label > textarea,
#lm_last_response > label > textarea,
#img_last_request > label > textarea,
#img_last_tags > label > textarea {
    overflow-y: scroll !important;
}

#lm_last_prompt.scroll-hide::-webkit-scrollbar,
#img_last_tags.scroll-hide::-webkit-scrollbar {
    display: unset !important;
}

#lm_last_prompt > label > textarea::-webkit-scrollbar,
#img_last_tags > label > textarea::-webkit-scrollbar {
    width: 10px;
}
#lm_last_prompt > label > textarea::-webkit-scrollbar-track,
#img_last_tags > label > textarea::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--input-background-fill);
    border: 1px solid var(--input-border-color);
}
#lm_last_prompt > label > textarea::-webkit-scrollbar-thumb,
#img_last_tags > label > textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-500);
}
